<?xml version="1.0" encoding="utf-8"?>

<manifest	xmlns:android="http://schemas.android.com/apk/res/android"
			package="com.defuzeme"
			android:versionCode="1"
			android:versionName="1.0">
			
			<uses-sdk android:minSdkVersion="8" />
			<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
			<uses-permission android:name="android.permission.INTERNET" />

			<application	android:icon="@drawable/icon"
							android:label="@string/Application"
							android:name="DefuzeMe">
						
				<activity	android:name="com.defuzeme.MainActivity"
							android:label="@string/Application"
							android:configChanges="keyboardHidden|orientation">
					<intent-filter>
						<action android:name="android.intent.action.MAIN" />
						<category android:name="android.intent.category.LAUNCHER" />
					</intent-filter>
				</activity>
				
				<activity	android:name="com.defuzeme.playqueue.PlayQueue"
							android:label="@string/Application"
							android:configChanges="keyboardHidden|orientation">
					<intent-filter>
						<action android:name="android.intent.action.VIEW" />
						<category android:name="android.intent.category.LAUNCHER" />
					</intent-filter>
				</activity>
				
				<activity	android:name="com.defuzeme.scheduler.Scheduler"
							android:label="@string/Application"
							android:configChanges="keyboardHidden|orientation">
					<intent-filter>
						<action android:name="android.intent.action.VIEW" />
						<category android:name="android.intent.category.LAUNCHER" />
					</intent-filter>
				</activity>
				
				<activity	android:name="com.defuzeme.scheduler.SchedulerDay"
							android:label="@string/Application"
							android:configChanges="keyboardHidden|orientation">
					<intent-filter>
						<action android:name="android.intent.action.VIEW" />
						<category android:name="android.intent.category.LAUNCHER" />
					</intent-filter>
				</activity>
				
			</application>
			
</manifest>